body {
  background-color: #009933;
  font-family: Arial, Helvetica, sans-serif;
}
header{
color: white;
  text-align: center;	
  font-size: 90px;
}
h2 {
  color: #ff6666 ;
  font-size:50px;
}
h3 {
  color: black ;
  font-size:35px;
}
h4 {
  color: black ;
  font-size:20px;
}

nav {
font-family: verdana;
  font-size: 20px;
}
p {
  font-family: verdana;
  font-size: 20px;
}
p2 {
  font-family: verdana;
  font-size: 18px;
}
form {
  font-family: verdana;
  font-size: 18px;
}
ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #999;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.go-top{
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 20px;
}
@media (min-width: 1100px) {
}
@media (max-width: 1100px) and (min-width: 1000px) {
}
div2 {
  width: 100px;
  height: 50px;
  background: red;
  color: white;
  font-weight: bold;
  position: relative;
  animation: mymove 5s infinite;
}
#div2 {animation-timing-function: ease;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}white
nav {
color: black ;
  font-size:20px;
}
footer {
  font-family: verdana;
  font-size: 21px;
}
ul2 {
style="list-style-type:square;
font-family: verdana;
  font-size: 20px;
}
.left {
	float:left;
}
a.lightbox img {
border: 0px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 0px 90px 0px 0px;
}
.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}
.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}
.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}
.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}
#vid {
position: left;
margin-top: 0px;
height: 480px;
width: 854px;
border: 3px solid #ECECEC;
box-sizing: border-box;
}
nav {
  font-family: verdana;
  font-size: 20px;
}
.navbar .current {
  background-color: red;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
}
